<html> 
    
<head>    <p style = "color: green; font-size: 2em">   Hello, world!  </p>
</head>
<h1>FGHJK</h1>
<body>
    <p style = "color: blueviolet; font-size: 1em">Some text</p>
</body>

<html>
    
